  <!-- NAVBAR
	      ================================================== -->
	 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  	  <div class="container">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    
			    
			    <img src="http://viands.s3.amazonaws.com/web_images/2.png" style= ""float="left" alt=""  height="40" width="50"/>
			    <a class="navbar-brand" href="#"><a href="#page-top"></a><font size="4" color="#F7772A" style="position:absolute;top:25px; left:170px;">VIANDS</font></a>
			    
			  </div>
			  <div class="collapse navbar-collapse navbar-ex1-collapse">
			    <ul class="nav navbar-nav">
			     
			      <li><a onclick="$('.purchase').animatescroll({padding:71});" id="a1">Download</a></li>
			      <li><a onclick="$('.payoff').animatescroll({padding:71});" id="a2">Why Viands</a></li>
			      <li><a onclick="$('.features').animatescroll({padding:71});" id="a3">Features</a></li>
			      <li><a onclick="$('.social').animatescroll({padding:71});" id="a4">Contact Us	</a></li>
				  <div class= "nav navbar-nav abc">
					  <li><a class="cd-signin" id="a5" href="#">Sign in</a></li>
					<li><a class="cd-signup"  href="#">Sign up</a></li>
			    </div>
				</ul>
			  </div>
		  </div>
	  </nav> 
	  	  
	 	   <!-- HEADER
	   ================================================== -->	  
	  <header>
		 <div class="container">
			 <div class="row">
				 <div class="col-md-12">
				 
					  <h1><font color="#FF8A65">V I A N D S</font></a></h1>
					  <p class="lead">We put U before the Q</p>
					  
					  <div class="carousel-iphone">
					  	<div id="carousel-example-generic" class="carousel slide">
					    
					    <!-- Indicators -->
					    <ol class="carousel-indicators">
					      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					    </ol>
					  
					    <!-- Wrapper for slides -->
					    <div class="carousel-inner">
					      <div class="item active">
					        <img src="http://viands.s3.amazonaws.com/web_images/screenshots/4.png" alt="App Screen 1">
					      </div>
					      <div class="item">
					        <img src="http://viands.s3.amazonaws.com/web_images/screenshots/2.png" alt="App Screen 2">
					      </div>
					      <div class="item">
					        <img src="http://viands.s3.amazonaws.com/web_images/screenshots/3.png" alt="App Screen 3">
					      </div>
					      
					    </div>
					  </div>
					</div>
				</div>	  
			</div>    
		</div>
	 </header>
	  
	  
	  <!-- PURCHASE
	      ================================================== -->
	  <section class="purchase" id="purchase">
		  <div class="container">
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					 
					 	    <p class="lead">Viands, is a mobile application that is free, easy to use 

and puts you in front of the queue!<br><br>The one stop solution for the modern day consumers hoping to grab a quick bite in their race against time.</p>
					 	    <a href="https://play.google.com/store/apps/details?id=com.one100solutions.viands&hl=en" ><img src="http://viands.s3.amazonaws.com/web_images/playstore.jpg" width="240" height="70" display="block"></img></a>	
				  </div>
			  </div>
		  </div>
	  </section>
	  
	  
	  <!-- PAYOFF 
	      ================================================== -->
	  <section class="payoff" id="payoff">
		<div class="container">
		<h1 style="padding-bottom:100px;margin-top:0px;">Why use Viands ?</h1>
			  <div class="row">
				  <div class="col-md-6">
					  <div id="tv_container">
						<video width="80%" height="80%" controls >
							<source src="http://viands.s3.amazonaws.com/web_images/video/Viands.mp4" type="video/mp4" />
						</video>
						</div> 
				  </div>
				  <div class="col-md-6" style="font-size:20px;padding-left:130px;">
				  Is your break-time never long enough because of those endless queues?</br>
				  Are you late for class? AGAIN?</br>
				  	Do you have to sit through a grueling presentation on 

an empty stomach?</br>
Here's bidding farewell to all those lectures and 

presentations where we end up dreaming <br>about the 

lunch we didn't have time for.</br> 
</br>
<p>Use Viands.</p>
Order online, jump the line and save time.
<br/>
 
				  </div>
			  </div>
		  </div>	  
	  </section>
	  
	  
	  <!-- DETAILS 
	      ================================================== -->
	  <section class="detail" id="detail">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="carousel-example-generic-2" class="carousel slide">
										
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      	<div class="row">
					      		<div class="col-sm-12 col-md-offset-1 col-md-6">
					      			<h1>Order your food through your phone.</h1>
					      			<p></p>
					      		</div>
					      		<div class="col-sm-12 col-md-5">
					      			<div class="app-screenshot">
					      				<img src="http://viands.s3.amazonaws.com/web_images/s6.j" class="img-responsive" alt="App Screen 1" width="100%" height="100%">
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div class="item">
					    	<div class="row">
					    		<div class="col-sm-12 col-md-offset-1 col-md-6">
					    			<h1>Pick up your order upon receiving a notification.</h1>
					    			
					    		</div>
					    		<div class="col-sm-12 col-md-5">
					    			<div class="app-screenshot">
					    				<img src="http://viands.s3.amazonaws.com/web_images/s2.png" class="img-responsive" alt="App Screen 2">
					    			</div>
					    		</div>
					    	</div>
						</div>
					    <div class="item">
					      <div class="row">
					      	<div class="col-sm-12 col-md-offset-1 col-md-6">
					      		<h1>Get done with lunch in time and earn those brownie points from your professors or bosses!</h1>
					      		
					      	</div>
					      	<div class="col-sm-12 col-md-5">
					      		<div class="app-screenshot">
					      			<img src="http://viands.s3.amazonaws.com/web_images/s4.jpg" class="img-responsive" alt="App Screen 3">
					      		</div>
					      	</div>
					      </div>
					    </div>
					  </div>
					
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
					  </ol>		
					</div>
				</div>
			</div>
		</div>
	</section>
	
	  
	  <!-- FEATURES
	      ================================================== -->
	  <section class="features" id="features">
		  <div class="container">
			  <div class="row">
				
				  <div class="col-md-4">
					  <div class="circle"><i class="fa fa-4x fa-paper-plane wow tada text-primary" data-wow-delay=".3s"></i></div>
					  <h2>Pre Ordering</h2>
					  <p>Place your order on-the-go. Experience the euphoria of skipping those dreadful queues with the click of a button.</p>
				  </div>
				
				  <div class="col-md-4">
					  <div class="circle"><i class="fa fa-4x fa-credit-card wow  text-primary"></i></div>
					  <h2>Cashless Transactions</h2>
					  <p>Perfect for the days your wallet is empty and the thought of running to the closest ATM gives you the jitters. We understand your laziness. Place your order online without moving an inch through Secure Payment Gateway Systems.</p>
				  </div>
				 
			<!--	  <div class="col-md-4">
					  <div class="circle"><i class="fa fa-4x fa-cutlery wow  text-primary"></i></div>
					  <h2>Dynamic Menu</h2>
					  <p>Ever wondered what a dish actually looks like? Do you have trust issues because of deceptive menu descriptions?
With our dynamic and graphic menus, what you order is what you get.</p>
				  </div> 
				  
			  </div> -->
			  <!--
			  <div class="row">
				
				  <div class="col-md-4">
					  <div class="circle"><i class="fa fa-4x fa-pagelines wow bounceIn text-primary"></i></div>
					  <h2>Environment Friendly</h2>
					  <p>Do your bit for the environment. Use our app and save paper. Say goodbye to those darned receipts that clutter your wallet. It's nifty to be thrifty!</p>
				  </div>
				-->
				  <div class="col-md-4">
					  <div class="circle"><i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i></div>
					  <h2>Reward Store</h2>
					  <p>Enjoy the perks of being a regular at your food court by availing special offers from your favourite brands. Now your meal could get you those fancy shades you've always wanted!</p>
				  </div>
				 
				 <!-- <div class="col-md-4">
					  <div class="circle"><i class="fa fa-4x fa-gift wow bounceIn text-primary"></i></div>
					  <h2>Birthday Benefits</h2>
					  <p>Growing older just got cheaper!
There's finally a way for you to willingly treat your friends without burning a hole in your pocket.</p>
				  </div>
				  
			  </div>
			  -->
		  </div>
	  </section>

	 <!-- SOCIAL
	     ================================================== -->
	  <div class="social" id="social">
	  	<div class="container">
	  		  <div class="row">
	  			  <div class="col-md-12">
	  			  	<h2 style="font-size:35px;">Connect with us</h2>
					<section id="contact">
        
						<center>
						<br>
						
						<table>
                <div class="text-center">
				<tr>
                  <td>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <i class="fa fa-phone fa-3x"></i></td>
					<td> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<i class="fa fa-envelope-o fa-3x"></i></td>

                </tr>
				<tr style="font-size:20px;">
				<td>+919986787295</td>
				<td>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp sanchay.pba@gmail.com </td>
				</tr>
				<tr style="font-size:20px;">
				<td>+919482532445</td>
				<td>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp b.s.sid94@gmail.com</td>
				</tr>
                

                </div>
				</table>
				</center>
				<!--<div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x " data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">sanchay.pba@gmail.com</a></p>
					<p><a href="mailto:your-email@your-domain.com">b.s.sid94@gmail.com</a></p>
                </div>-->
            </div>
        </div>
		
		<br>
    </div>
	    <div class="col-md-12" style="font-size:18px;padding-bottom:10px;">
    	<center>Powered by,</center>
    	<center>One100 Solutions</center>
    </div>


	  			   	<a class="icon-facebook" href="https://www.facebook.com/pages/Viands/789700861111668?fref=ts"></a>
	  			   	<a class="icon-twitter" href="https://twitter.com/viandsapp"></a>
	  			   	<!-- <a class="icon-google"></a> -->
	  			   	<a class="icon-instagram" href="https://instagram.com/viands_app"></a>
	  			   	<!-- <a class="icon-pinterest"></a> -->
	  			   </div>
	  		  </div>
	  	  </div>	  
	  </div>
	  
	
	 <!-- GET IT 
	     ================================================== -->
	  
	  		  			<h2 class="section-heading" style="color:#424242;"><center>Find us at<center></h2>
<center><div class="wow tada"><img src="http://viands.s3.amazonaws.com/web_images/3.png" width="40%" height="50%"/></div></center>
	
	<!--<section class="bg-primary" id="aboutus">
        <div class="container">
            <div class="row">
                <div>

	  			<div class="col-md-12">
	  				<hr />
		  			<ul>
	                	<li><a href="#link-here">Contact</a></li>
	                	<li><a href="#link-here">Twitter</a></li>
	                	<li><a href="#link-here">Press</a></li>
	                	<li><a href="#link-here">Support</a></li>
	                	<li><a href="#link-here">Developers</a></li>
	                	<li><a href="#link-here">Privacy</a></li>
                	</ul>
	  			</div>
	  		</div>
	  	</div>
	  </section> -->

	  <!-----LOGIN -->

	  <div class="cd-user-modal" > <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Sign in</a></li>
				<li><a href="#0">New account</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<form class="cd-form" ng-submit="Home.submitForm()">
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">Phone Number</label>
						<input ng-model="Home.user.phone" class="full-width has-padding has-border" id="signin-email" type="text" placeholder="Phone Number">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input ng-model="Home.user.password" class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember me</label>
					</p>

					<p class="fieldset">
						<input class="full-width" type="submit" value="Login">
					</p>
				</form>

				
				<p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->


			<!-----SIGNUP -->

			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
						<span class="cd-error-message">Error message here!</span>
					</p>
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-phone">Phone Number</label>
						<input class="full-width has-padding has-border" id="signup-phone" type="text" placeholder="Phone Number">
						<span class="cd-error-message">Error message here!</span>
					</p>
					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Password</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Create account">
					</p>
				</form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<div id="cd-otp"> <!-- reset password form -->
				<p class="cd-form-message">Please enter the code sent to you through SMS</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">OTP</label>
						<input class="full-width has-padding has-border" id="otp" type="text" placeholder="OTP">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Submit">
					</p>
				</form>

				
			</div>
			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
